.cont{
    display: flex;
    justify-content: center;
    padding: 1em;
    background: rgb(208, 211, 219);
}
.items{
    flex: 1;
    margin: .6em;
    padding: 1em;
    background-color: white;
    border: 1px solid rgb(0, 163, 224);
   
}
.items:hover{
    border:rgb(0, 163, 224) solid;;
}
.products{
    text-align: center;
}

.prod{
    color: red;
    display: inline-block;
    
}
.title{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 10px;
    color: red;
}
.btn{
    color: white;
    background-color: #407ec9;;
    text-decoration: none;
    float: right;
    border-color: #407ec9;;
    border-radius: 1em;
}
.btn:hover{
    color: black;
    background-color: rgb(0, 163, 224);
}
.content{
    color:black;
    font-size: 20px;

}
img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    cursor: pointer;
    
}


  .ekash{
      height:245px;
  }

  @media (max-width: 880px) {

	.cont{
        font: 14px sans-serif;
        flex-direction: column;
        
	}

	.cont .items{
        display: inline-block;
        width: 400px;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
	}

}

