.container1{
   display: flex;
   flex-direction: column;
   justify-content: center;;
   width: 100%;
}
.contact{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 3rem;
}
.headquaters{
    padding: 2rem;
    max-width:35%;
    width: 40%;
    border: 1px  rgb(0, 163, 224)  solid;

}
.form{
    width: 90%;
    border: none;
}
.topinputs{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
}
.btn{
    height: 50px;
    width: 100%;
}

.textArea{
     background: rgb(208, 211, 219);
     border: none;
     
}
.icons{
    font-size: 25px;
}
a{
    color: red;
}
